# Node modules
node_modules/

# TypeScript build output
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# IDE configs
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo
